/backend/dist
/backend/.env
/backend/.env.*
!.env.example
/backend/node_modules
/backend/package-lock.json
/backend/pnpm-lock.yaml
/backend/assets/*



/website/.DS_Store
/website/node_modules
/website/build
/website/.svelte-kit
/website/package
/website/.env
/website/.env.*
/website/!.env.example
/website/.vercel
/website/.output
/website/vite.config.js.timestamp-*
/website/vite.config.ts.timestamp-*

/assets/*
