/backend/dist
/backend/.env
/backend/.env.*
!.env.example
/backend/node_modules
/backend/package-lock.json
/backend/pnpm-lock.yaml
/backend/assets/*

/web/.DS_Store
/web/node_modules
/web/build
/web/dist
/web/.svelte-kit
/web/package
/web/.env
/web/.env.*
!.env.example
/web/vite.config.js.timestamp-*
/web/vite.config.ts.timestamp-*


/frontend/.DS_Store
/frontend/node_modules
/frontend/build
/frontend/dist
/frontend/.svelte-kit
/frontend/package
/frontend/.env
/frontend/.env.*
!.env.example
/frontend/vite.config.js.timestamp-*
/frontend/vite.config.ts.timestamp-*
